<a href="https://colab.research.google.com/github/mmmerlyd/InteligenciaArtificial/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import numpy as np
import pandas as pd
print(pd.__version__)
serieData=pd.Series(data=[100,200,300],index=['juan','pedro','lucas'])
print(serieData)
print('///')
print(serieData['pedro'])

print(serieData.index)
print('pedro' in serieData)


myDictionary={'one':pd.Series([100,200,300],index=['juan','pedro','lucas']),
              'two':pd.Series   ([11,22,33],index=['julio','pedro','lucas'])}

 #SERIES AND DATAFRAM
 #
df=pd.DataFrame(myDictionary)
print(df)
print('we are here....')
print(df.index)
print(df.columns)

print('///////////')
print(df.loc['juan'])

2.0.3
juan     100
pedro    200
lucas    300
dtype: int64
///
200
Index(['juan', 'pedro', 'lucas'], dtype='object')
True
         one   two
juan   100.0   NaN
julio    NaN  11.0
lucas  300.0  33.0
pedro  200.0  22.0
we are here....
Index(['juan', 'julio', 'lucas', 'pedro'], dtype='object')
Index(['one', 'two'], dtype='object')
///////////
one    100.0
two      NaN
Name: juan, dtype: float64